* {
    box-sizing: border-box;
  }

body {
    background: url(../images/grunge.png);
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    overflow: auto;
}

h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;

}

h2 {
    font-family: 'Georgia', Times, Times New Roman, serif;
}

header {
    background-color: white;
    border-bottom: 5px Solid;
    border-color: #cccccc;
    margin-bottom: 30px;
    margin: 0 auto;
    padding-top: 0;
}

nav {
    float: right;
    width: 350px;
    margin-top: 30px;
    text-align: center;
    position: relative;
    top: 30px;
}


nav ul li {
    display: inline;
}

nav a {
    color: #777777;
    border-right: 2px solid #cccccc;
    padding: 5px 15px;
    text-decoration: none;
}
.wrap {
    width: 960px;
    margin: 0 auto;
    background-color: white; 
}

header h1 {
    background: #4aaaa5;
    color: white;
    display: inline-block;
    padding: 20px;
    font-size: 30px;
    position: relative;
    top: 20px;
}

h2 {
    padding: 20px;
    border-bottom: 2px solid #cccccc;
    color: #4aaaa5;
    margin: 0 auto;
  
}

#aboutme{
    background: white;
    padding: 10px 20px 20px 20px;
    font-size:16px;
    line-height: 20px;
    margin-bottom: 10px; 
    overflow: auto;
    border-color: #dddddd;
    border: 2px solid;
}

#me {
    float:left;
    margin:0 15 15 0;
    border: 10px solid white;
}

#main-content {
   border: 5px solid white;

}

footer {
    background: #666666;
    border-top: 8px solid #4aaaa5;
    overflow: auto;
    text-align: center;
    color: white;
    padding: 20px;
    font-size: 14px;

}

input {
    width: 100%;
}

.clearfix {
    display: block;
    clear: both;

}
textarea {
    width: 100%;
}


.portfolio {
    height: 740px
}

.box-1 {
    float: left;
    position: relative;
}

.demo1{
    background: #4aaaa5;
    Color: White;
    padding: 20px;
    font-size: 18px;
    text-align: center;
    position: relative;
    bottom: 100px;
    font-weight: bold;
}

.box-2 {
    float: left;
    position: relative;
    left: 25px;
}

.demo2{
    background: #4aaaa5;
    Color: White;
    padding: 20px;
    font-size: 18px;
    text-align: center;
    position: relative;
    bottom: 100px;
    font-weight: bold;
}


.box-3 {
    float: left;
    position: relative;
    top: 225px;
    right: 600px;
}

.demo3{
    background: #4aaaa5;
    Color: White;
    padding: 20px;
    font-size: 18px;
    text-align: center;
    position: relative;
    bottom: 100px;
    font-weight: bold;
}

.box-4 {
    float: left;
    position: relative;
    bottom: 75px;
    left: 325px  
}

.demo4{
    background: #4aaaa5;
    Color: White;
    padding: 20px;
    font-size: 18px;
    text-align: center;
    position: relative;
    bottom: 100px;
    font-weight: bold;
}

.box-5 {
    float: left;
    position: relative;
    top: 150px;
    right: 300px;  
}

.demo5{
    background: #4aaaa5;
    Color: White;
    padding: 20px;
    font-size: 18px;
    text-align: center;
    position: relative;
    bottom: 100px;
    font-weight: bold;
}

button:hover {
    color: red;
}

@media screen and (max-width: 980px) {

  
    .wrap {
        width: 100%;
    }

}

@media screen and (max-width: 768px) {
    .wrap {
        width: 100%;
    }
}

@media screen and (max-width: 640px) {
    .wrap {
        width: 100%;
    }
    header nav {
        position:static;
    }
}


























